@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

body {
  font-family: 'Roboto', sans-serif;
  background: #FAFAFA;
  color: #212429;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('img/wave.svg');
  background-size: 100%;
  background-position: 0 -75px;
  background-repeat: no-repeat;
  -webkit-animation: fadein 1s ease;
  animation: fadein 1s ease;
  padding: 20px;
}

p {
  font-size: 15px;
  color: #222427;
  line-height: 25px;
}

a {
  text-decoration: none;
  color: #212429;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

a:hover {
  color: #0C85AC;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

h1 {
  font-size: 26px;
  line-height: 40px;
}

h4 {
  font-family: Avenir-Heavy,sans-serif;
  font-size: 14px;
  color: #BAADA3;
  margin-bottom: 40px;
  margin-top: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li:first-of-type {
  margin-right: 25px;
  padding-left: 0;
}

ul li {
  display: inline;
  font-family: Avenir-Medium,sans-serif;
  font-size: 18px;
  color: #0C85AC;
  padding: 5px;
}

.container {
  max-width: 600px;
  margin: auto;
}

.intro {
  margin: 100px 0 100px 0;
}

.light {
  font-weight: 300;
}

section.intro li a, section.cool-stuff a, section.footer a {
  color: #0C85AC;
}

section.intro li a::after, section.cool-stuff a:hover::after {
  content: url('img/open_in_new.svg');
  padding: 0 2px 0 10px;
  position: relative;
  top: 1px;
  right: 6px;
  -webkit-transition: right 0.75s ease;
  transition: right 0.75s ease;
}

section.experience, section.cool-stuff {
  border-top: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 60px;
}

section.footer {
  text-align: center;
  margin: 75px auto 75px auto;
  max-width: 260px;
}

section.footer p {
  font-size: 18px;
  color: #222427;
  line-height: 30px;
}

section.footer a:hover {
  color: #000;
}

section.footer .face {
  text-align: center;
  margin-top: 30px;
}

.left-col {
  width: 20%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  color: #222427;
  letter-spacing: 1px;
  padding-right: 20px;
}

.right-col {
  width: 75%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
}

.right-col h2 {
  margin: 0;
  font-size: 18px;
  color: #222427;
}

.right-col h3 {
  margin-top: 0;
  font-family: Avenir-Heavy,sans-serif;
  font-size: 15px;
  color: #222427;
}

.border-liner {
  width: 100%;
  height: 1px;
  border-top: 1px solid rgba(0,0,0,0.1);
}

.some-icons {
  float: left;
  margin: 24px 0 0 -4px;
}

.some-icons img {
  width: 40px;
  height: 40px;
}

@media only screen and (max-width: 500px) {
  .left-col {
    width: 100%;
    margin-bottom: 5px;
  }
  .right-col {
    width: 100%;
    margin-bottom: 10px;
  }
  ul li {
    display: block;
    padding: 10px 10px 10px 0;
    margin: 5px 0 5px 0;
  }
  .hide-mobile {
    display: none !important;
  }
  .some-icons {
    margin-top: 0;
  }
}
